* {
    font-weight: bold;
}

input{
    font-size: 17px;
    width: 120px;
    
}

form{
    width: 300px;
}

#Total{
    font-size: 20px;
    border: 1px solid black;
    padding: 2px;
}
.label{
    font-family:Arial, Helvetica, sans-serif
}

.calcular{
    border: none;
    background-color: green;
    color: white;
    padding: 8px;
}